* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: white;
  position: relative;
}

/* Top bar: */
.top-bar {
  background-color: black;
  color: white;
  padding: 12px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 100px;
  position: relative;
}

.lang-selector {
  position: absolute;
  right: 0;
  padding-right: 5px;
}

.top-bar a {
  padding-left: 10px;
  font-weight: 600;
  color: white;
}

.lang-selector select {
  margin-right: 0;
  background-color: black;
  border: none;
  color: white;
}

/* Nav bar: */
.header {
  border-bottom: 2px solid grey;
  padding: 0 5%;
}

.navbar {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.brand-name {
  transform: translateY(-10px);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

#nav-home {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: gray;
}

.search-and-icons {
  display: flex;
  gap: 10px;
}

.search-bar {
  position: relative;
  display: inline-block;
}

.search-bar input {
  padding: 5px 40px 5px 0px;
  border: none;
  background-color: lightgray;
  border-radius: 2px;
}

.material-symbols-outlined {
  color: black;
}

.search-bar .material-symbols-outlined {
  position: absolute;
  right: 0;
  pointer-events: none;
}

.nav-links a:hover {
  text-decoration: underline;
  text-decoration-color: lightgray;
  text-decoration-thickness: 2px;
}

/* Content: */
.content {
  display: flex;
}
.sidebar {
  display: flex;
  width: 25%;
  flex-direction: row;
  border-right: 2px solid gray;
  padding: 2% 0 1% 5%;
}

.side-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.side-menu li {
  width: 100%;
  list-style: none;
}

.side-menu a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
  position: relative;
}

.side-menu a:hover {
  text-decoration: underline;
  text-decoration-color: lightgray;
  text-decoration-thickness: 2px;
}

.side-menu .material-symbols-outlined {
  position: absolute;
  bottom: -2px;
  right: 2px;
}

.hero-section {
  width: 75%;
  padding: 2% 5% 1% 0;
  display: flex;
  flex-direction: column;
}

.hero-content {
  background-color: black;
  margin-left: 5%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hero-text {
  padding-top: 5%;
}

.hero-pagination {
  display: flex;
  margin-top: -20px;
  justify-content: center;
  gap: 8px;
}


.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid white;
  background: #ccc;
  cursor: pointer;
}

.dot.active {
  background: orangered;
}

/* Footer */
.footer {
  background-color: black;
  padding: 0 5%;
  border-bottom: 2px solid gray;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.footer-column {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.email-form {
  position: relative;
  display: inline-block;
}

.email-form input {
  padding: 5px 40px 5px 0px;
  border: 2px solid #fff;
  background-color: black;
  border-radius: 2px;
}

.email-form .btn-email {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 5px;
}

.email-form .btn-email .material-symbols-outlined {
  color: #fff;
}

.footer-column a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.footer-column li {
  padding: 5px 0;
}

.footer-column li {
  list-style: none;
}

.download-qr-codes {
  display: flex;
  gap: 5px;
}

.app-stores {
  display: flex;
  flex-direction: column;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a span {
  color: #fff;
}

/* Bot bar */
.bot-bar {
  padding: 12px 0;
  background-color: black;
  text-align: center;
}
.bot-bar p {
  color: #fff;
}

